.main-header {
	background-color: #F1E05A;
}

h1 {
	color: #01008A;
}

body {
	color: #01008A;
	font-size: 15px;
}
 
.navbar {
	background-color: #17C2BC;
	border-radius: none;
}

#logo {
	width: 100px;
	height: 35px;
	margin-right: 30px;
}

.card-img-top {
	width: 50%;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.card-text {
	font-size: 18px;
	color: #01008A;
}

.card-title {
	color: #E42B4E;
}

.nav-link {
	color: #01008A;
	font-size: 20px;
}